html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.125rem;
  color: #2d3248;
  background-color: #19a2ae;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body::before {
  content: "";
  background: url("/images/bg-pattern-top.svg");
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 16%;
  left: -50%;
  background-size: contain;
}

@media (min-width: 40em) {
  body::before {
    bottom: 36%;
    left: -14%;
  }
}

body::after {
  content: "";
  background: url("/images/bg-pattern-bottom.svg");
  background-repeat: repeat;
  background-size: auto;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 58%;
  left: 50%;
  background-size: contain;
}

@media (min-width: 40em) {
  body::after {
    top: 49%;
    left: 49%;
  }
}

h3,
h4,
h5 {
  margin: 0;
}

h3 {
  font-weight: 700;
}

h4 {
  color: #6a6f81;
  font-weight: 400;
  font-size: 0.875rem;
}

h5 {
  color: #6a6f81;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.card {
  position: absolute;
  border-radius: 0.875rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5rem;
  width: 100%;
  max-width: 20.375rem;
  -webkit-box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  z-index: 999;
}

@media (min-width: 64em) {
  .card {
    max-width: 21.875rem;
  }
}

.card__header {
  position: relative;
  height: 8.75rem;
  width: 100%;
  background: url("/images/bg-pattern-card.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.875rem 0.875rem 0 0;
}

.card__header .card__avatar {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: 6.5rem;
  border-radius: 50%;
  border: 5px solid white;
}

.card__personal-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4.2rem 0 1.75rem;
}

.card__personal-data .data-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.813rem;
}

.card__personal-data .data-info__name {
  margin-right: 0.5rem;
}

.card__personal-data .data-info__age {
  font-weight: 400;
  color: #6a6f81;
}

.card__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.75rem;
  border-top: 1px solid #969696;
}

.card__statistics .statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__statistics .statistic__quantity {
  margin-bottom: 0.313rem;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 3%;
}
