html {
  font-size: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: $font-med;
  color: $very-dark-desaturated-blue;
  background-color: $dark-cyan;
  overflow: hidden;
  @include flex(column, center, center);
  background: url("/images/background-pattern-top.svg") bottom 50vh right 50vw no-repeat, url("/images/background-pattern-bottom.svg") top 50vh left 50vw no-repeat, #19a2ae;
}

h3,
h4,
h5 {
  margin: 0;
}

h3 {
  font-weight: 700;
}

h4 {
  color: $dark-grayish-blue;
  font-weight: 400;
  font-size: $font-sm;
}

h5 {
  color: $dark-grayish-blue;
  font-size: $font-xs;
  font-weight: 400;
  letter-spacing: 1px;
}
