// Colors
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
