.block-1 {
  grid-area: block-1;
  background-color: white;
  border-radius: 0.313rem 0.313rem 0 0;
}

.block-2 {
  grid-area: block-2;
  background-color: $cyan;

  @include breakpoint-up(large) {
    border-radius: 0 0 0 0.313rem;
  }
}

.block-3 {
  grid-area: block-3;
  background-color: $viking;
  border-radius: 0 0 0.313rem 0.313rem;

  @include breakpoint-up(large) {
    border-radius: 0 0 0.313rem 0;
  }
}
