.wrapper {
  margin: 4.5rem 2rem;
  border-radius: 0.313rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);

  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "block-1 block-1"
      "block-2 block-3";
    max-width: 635px;
    width: 100%;
    margin: 0;
  }
}
