// Font Size
$fs-body: 1rem;
$fs-title: 1.25rem;
$fs-price: 2rem;

// Font Weight
$fw-normal: 400;
$fw-bold: 700;

// Primary
$cyan: #2ab2af;
$brigh-yellow: #c0df34;

// Neutral
$light-gray: #e5eff5;
$grayish-blue: #98a6bd;

// Custom
$viking: #4abebd;
